<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Detalhes e análises</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                             <link th:href="@{/css/}+${css}+'.css'" rel="stylesheet" type="text/css"/> 
                </head>

                <body>
                    <header th:insert="navbar.html :: nav"></header> 
                    <form id="formDetalhes" method="POST">
                        <p> Buscar por nome:
                            <input type="text" id="busca" />
                            <input type="submit" value="Buscar" />
                        </p>
                    </form> 
                    <h1>Filme encontrado:</h1> 
                    <form id="formAtualizar" method="POST">
                    <label>ID:  </label>
                    <p type="number" id="id"> </p>
                    <label>Titulo: </label>
                    <input type="text" id="titulo" />
                                       <label>Sinopse:  </label>
                    <input type="text"  id="sinopse" />
                                       <label>Genêro:  </label>
                    <input type="text"  id="genero" />
                                       <label>Ano de lançamento:  </label>
                    <input type="date" id="lancamento" />
                    <button id="Atualizar">Atualizar </button>
                    </form> 
                    <h1>Registre uma análise:</h1> 
                    <form id="formDetalhesFilme" method="POST">
                        <p>Explicação:
                            <input type="text" id="analiseExplicacao" />
                        </p>
                        <p>Nota:
                            <input type="number" id="analiseNota" />
                        </p>
                        <input type="submit" value="Finalizar" />
                    </form>


                    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> 
                        <script src="js/db.js"></script> 
                </body>
                </html> 