<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="css/MAIN-CSS.css">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>  


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <header th:insert="navbar.html :: nav"></header> 
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="text-center">
                    <img class="img" src="https://media.istockphoto.com/id/508858132/photo/happy-woman-driving-a-truck-wearing-hi-vis-clothes.jpg?s=612x612&w=0&k=20&c=yvfPtTo8G9HVbiFbGtcpSwYThrdfcBvPH4u-pYRXm9w=" height="210" />
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="titulo">DESTINOS</h3>
                       <form id="formCadastrar"  method="POST">
                        <label class="form-label">Nome:</label>
                        <input required id="nome" class="form-control"  type="text">
                        <label class="form-label">Endereço:</label>
                        <input required id="endereco" class="form-control"  type="text">
                        <label class="form-label">Data de entrega:</label>
                        <input required id="data" class="form-control"  type="date">
                        <label class="form-label">Unidades pedidas:</label>
                        <input required id="unidades" class="form-control" type="number">
                        <div class="mb-3"> 
                        <input type="submit" class="btn btn-primary" value="Enviar">
                        </div>
                </form>
                <script src="js/cadDestino.js"></script>
            </div>
      
        </div>
    </div>
</body>

</html>